body {
    margin: 0;
    padding: 0;
}

.feed {
    width: 80%;
    min-width: 250px;
}

.full-feed{
    width: 30%;
    justify-content: center;
    display: flex;
    transform: translate(0,0);
}

.top-edge {
    position: relative;
    top: 4vh;
}

.bottom-left{
    position: relative;
}

.bottom-center {
    width: 60%;
    min-width: 200px;
}

.bottom-right {
    position: relative;
}

.main {
    height: 100vh;
    display: flex;
    font-family: Tahoma, Geneva, sans-serif;
}

.main__left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main__videos {
    flex-grow: 1;
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
}

.main__controls {
    display: flex;
    background-color: rgb(103, 60, 153);
    color: white;
    padding: 5px;
    justify-content: center;
    height: 8vh;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    min-width: 80px;
    cursor: pointer;
}

/* .main__controls__button:not(:last-child) {
    border-right: 1px solid #ddd;
} */

.main__controls__button i {
    font-size: 50px;
}

.main__controls__button:hover {
    background-color: #343434;
    border-radius: 3px;
}

.main__leave_button {
    background: rgb(212, 32, 32);
    border-radius: 3px;
}

.unmute {
    color: black;
}

.stop {
    color: black;
}

.hand-icon {
    position: absolute;
    right: 5vw;
    color: #fff;
    border-radius: 100%;
    background: rgb(0, 119, 255);
    width: 40px;
    min-width: 30px;
    height: 40px;
    min-height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.icon-high {
    top: 85px;
}

.icon-low {
    top: 55px;
}

.hide {
    display: none;
}

.video-row {
    display: flex;
    height: 42vh;
}

#question-queue {
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.hand-icon-question-queue {
    position: relative;
    color: #fff;
    border-radius: 100%;
    background: rgb(0, 119, 255);
    width: 35px;
    min-width: 30px;
    height: 35px;
    min-height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 10px;
}

.question-text {
    color: #fff;
    padding-right: 30px;
    font-weight: bold;
}

.top-row{
    justify-content: space-evenly;
}

.bottom-row{
    justify-content: space-between;
}
