<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you!</title>
    <link rel="stylesheet" href="menus.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-a11y="true"></script>
</head>
<body>
    <div class="background">
        <div class="card room-full">
            <i class="fas fa-door-closed fa-4x"></i>
            <p>
                The room you tried to enter is at its maximum capacity of 6 people.
            </p>
            <button>Return To Homepage</button>
        </div>
    </div>
</body>
</html>
