body {
    margin: 0;
    padding: 0;
}

.background {
    background: rgb(29, 29, 29);
    font-family: Tahoma, Geneva, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    background: rgb(255, 255, 255);
    height: 20vh;
    min-height: 100px;
    width: 45vw;
    min-width: 350px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    flex-direction: column;
}

.room-full {
    font-size: 25px;
    height: fit-content;
    max-height: 60vh;
    width: fit-content;
    max-width: 40vw;
    padding: 30px;
}

.login {
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    padding-bottom: 20px;
}

.submit-button {
    background: rgb(103, 60, 153);
    color: #fff;
    border-radius: 20px;
    border: 0px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}

.tab-button {
    display: flex;
    background: #ccc;
    color: #000;
    border: 0px;
    width: 50%;
    float: left;
    cursor: pointer;
    font-size: 25px;
    justify-content: center;
}

.tab-bar {
    width: 100%;
    margin-bottom: 40px;
}

.tab-button-active {
    background: #fff
}

.input-field{
    font-size: 18px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    color: white;
    font-size: 40px;
    padding-bottom: 30px;
    color: #22aeff;
}

.login-input {
    font-size: 15px;
    width: 300px
}
