body {
    margin: 0;
    padding: 0;
}

.background {
    background: rgb(29, 29, 29);
    font-family: Tahoma, Geneva, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgb(255, 255, 255);
    height: 20vh;
    min-height: 100px;
    width: 45vw;
    min-width: 350px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    flex-direction: column;
}

.room-full {
    font-size: 25px;
    height: fit-content;
    max-height: 60vh;
    width: fit-content;
    max-width: 40vw;
    padding: 30px;
}

button {
    background: rgb(103, 60, 153);
    color: #fff;
    border-radius: 20px;
    border: 0px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
