body {
    margin: 0;
    padding: 0;
}

#video-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
}

video {
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main__videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__controls {
    display: flex;
    background-color: rgb(83, 32, 179);
    color: white;
    padding: 5px;
    justify-content: center;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    min-width: 80px;
    cursor: pointer;
}

/* .main__controls__button:not(:last-child) {
    border-right: 1px solid #ddd;
} */

.main__controls__button i {
    font-size: 50px;
}

.main__controls__button:hover {
    background-color: #343434;
    border-radius: 3px;
}

.main__leave_button {
    background: rgb(212, 32, 32);
    border-radius: 3px;
}

.unmute {
    color: black;
}

.stop {
    color: black;
}

.hand-icon {
    position: relative;
    left: -45px;
    top: 5px;
    color: #fff;
    border-radius: 100%;
    background: rgb(0, 119, 255);
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.hide {
    display: none;
}
